
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-theme {
    background-color: #1e1e2f;
    color: #dee9fa;
}


.sidebar {
    position: fixed;
    top: 50px;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease;
}

.sidebar.active {
    left: 0;
}

tbody {
    text-indent: 9%;
    line-height: 1.7;
    text-shadow: 1px 1px;
    text-align: center;
}

table {
    text-indent: 15%;
    text-align: justify;
   
   
}

header  {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px;
}
 
td {
    top: 0;
    text-align: center;
}

