
   *{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    display: flex;
    min-height: 90vh;
    background-color: #9cc1eb;
    color: #010102;
    position: relative;
    overflow-x: hidden;
  }
  
  header {
    width: 80%;
    padding: 70px 80px 600px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  header h1 {
    font-size: 2.0rem;
    font-weight: 600;
    color: #030303;
    margin-bottom: 15px;
  }
  
  header h2 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #6c9de0;
    margin-bottom: 25px;
    position: relative;
  }
  
  header h2::after {
    content: 8px;
    display: block;
    width: 60px;
    height: 2px;
    background-color: #a8dadc;
    margin-top: 16px;
  }
  
  header p {
    font-size: 1rem;
    line-height: 1.4;
    color: #1d3557;
    max-width: 280px;
    margin-bottom: 40px;
  }

  header img {
    max-width: 150px;
    height: auto;
    margin-top: auto;
  }
  
  main {
    width: 65%;
    background-color: #ffff;
    border-top-left-radius: 12%;
    border-bottom-left-radius: 25px;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.05);
    position: relative;
  }
  
  main h1 {
    font-size: 1.6rem;
    color: #031b4e;
    margin-bottom: 35px;
    width: 60%;
    max-width: 330px;
    text-align: left;
  }
  
  form {
    width: 100%;
    max-width: 360px;
  }
  
  form p {
    margin-bottom: 25px;
  }
  
  form label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #031b4e;
  }
  
  form input {
    width: 100%;
    padding: 12px 1px;
    border: 1px solid #d0d7de;
    border-radius: 8px;
    font-size: 0.95rem;
    margin-bottom: 15px;
    outline: none;
  }
  
  form input:focus {
    border-color: #031b4e;
  }
  
  form p:has(a) {
    text-align: right;
    margin-top: -5px;
    margin-bottom: 20px;
  }
  
  form a {
    color: #031b4e;
    font-size: 0,95rem;
    text-decoration: none;
  }
  
  form a:hover {
    text-decoration: underline;
  }
  
  form button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #031b4e;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  form button[type="submit"]:hover {
    background-color: #000f30;
  }
  
  main > p:has(a[href="cadastro.html"]) {
    width: 100%;
    max-width: 370px;
    margin-top: 25px;
    position: relative;
    text-align: center;
  }
  
  main > p:has(a[href="cadastro.html"])::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e1e4e8;
  }
  
  main a[href="cadastro.html"] {
    display: block;
    width: 100%;
    text-decoration: none;
  }
  
  main a[href="cadastro.html"] button {
    width: 100%;
    padding: 13px;
    background-color: #ffffff;
    color: #031b4e;
    border: 1px solid #031b4e;
    border-radius: 13px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  main a[href="cadastro.html"] button:hover {
    background-color: #f0f4f9;
  }
  
  main > button {
    position: absolute;
    right:  20px;
    bottom: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #0099ff;
    color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  

  footer {
    position: absolute;
    bottom: 20px;
    left: 1270px;
    font-size: 0.85rem;
    color: #1d3557;
  }
  
  footer a {
    color: #0056b3;
    font-weight: 700;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  main > p button {
    background-color: #0099ff;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 0.70rem;
    position: absolute;
    right: 35px;
    bottom: 35px;
  }

 